
<app-impressum #lightbox ></app-impressum>
<app-datenschutz #datenschutz ></app-datenschutz>

<div class="footer" [ngClass]="{'yellowBackground': !ThemeColor.currentColorIsBlue}">
    <div class="footerShape" ><img [src]="ThemeColor.currentColorIsBlue ? './assets/img/footer/shape.png' : './assets/img/footer/shape-orange.png'"></div>
    <div class="footerBubble right bottom" [ngClass]="{'filterToDeepOrange': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/footer/bubble-right.png"></div>
    <div class="footerBubble left top" [ngClass]="{'filterToBrightYellow': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/footer/bubble-left.png"></div>
    <div class="footerWrapper">
    <div class="footerContent">

        <div class="footerLogo"><a href="#start"><img src="./assets/img/logo.svg"></a></div>
            <nav class="footerNav" [ngClass]="{'footerNavOrange': !ThemeColor.currentColorIsBlue}">
                <p>© Marcel Arndt 2024</p>
                <ul>
                    <a href="#start"><li [innerHTML]="currentTexte[0]">Startseite</li></a>
                    <a (click)="lightbox.openLightbox()"><li [innerHTML]="currentTexte[1]">Impressum</li></a>
                    <a (click)="datenschutz.openLightbox()"><li [innerHTML]="currentTexte[2]">Datenschutz</li></a>
                </ul>
            </nav>

            <nav class="footerLinks" [ngClass]="{'footerIconsOrange': !ThemeColor.currentColorIsBlue}">
                <ul>
                    <a href="https://github.com/MarcelArndt" target="_blank"><li><img src="./assets/img/github.svg"></li></a>
                    <a href="mailto:info@arndt-marcel.de"><li><img src="./assets/img/e_mail.svg"></li></a>
                    <a href="https://www.linkedin.com/in/marcel-arndt-8322b2333/" target="_blank"><li><img src="./assets/img/linkin.svg"></li></a>
                </ul>
            </nav>

    </div>
</div>
</div >
