@import '../../styles.scss';

.AbouMeSection{
    position: relative;
    padding-top: 96px;
    margin-top: 34px;
    padding-bottom: 200px;
}

.aboutMeBubleLeft {
    top: -420px;
}

.profilPicture{
    position: absolute;
    right: 1%;
    bottom: 0px;
    height: 100%;
    img{
        object-fit: contain;
        height: 100%;
        width: auto;
    }
}

.shape-above{
    top: -168px;
    left: 60px;
}

.AboutMeWrapper{
    position: relative;
    font-size: $baseFontSize;
    font-weight: 100;
    margin-top: 3%;
    margin-left: 15%;
    max-width: 525px;
    min-height: 270px;
}

.noneopacity{
    opacity: 0;
}

.AboutMeText{
    animation: text-fade-in 0.35s ease-in-out;
}

@keyframes text-fade-in{
    0% {opacity: 0; transform: translateY(50px);}
    100% {opacity: 1; transform: translateX(0px);}
}

.AboutMeMenuBar{
    ul{
        position: absolute;
        bottom: -100px;
        display: flex;
        list-style: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;

        li{
            margin: 0px 12px;
        }

        li:nth-child(1){
            margin-right: 12px;
            margin-left: 0px;
        }

        li:hover{
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(12%) sepia(89%) saturate(6265%) hue-rotate(272deg) brightness(91%) contrast(107%);
        }

        li.active{
            filter: brightness(0) saturate(100%) invert(12%) sepia(89%) saturate(6265%) hue-rotate(272deg) brightness(91%) contrast(107%);
        }

        img{
            max-width: 52px;
            height: auto;
        }
    } 
}

