<div class="lightbox" *ngIf="isLightboxOpen" [ngClass]="{'fadeContenIn': isClosingAnimation, 'fadeContenOut': !isClosingAnimation, 'orangeTheme' : !ThemeColor.currentColorIsBlue}" (click)="closeLightbox()">
    <div class="closingButton" (click)="closeLightbox()" [ngClass]="{'hide': isClosingAnimation}">&times;</div>
    <div class="lightboxWrapper" [ngClass]="{'fadeOutBox': isClosingAnimation, 'fadeInBox': !isClosingAnimation}" (click)="$event.stopPropagation()">
        <div class="lightboxContent" [innerHTML]="currentTexte[0]" [ngClass]="{'orangeContent' : !ThemeColor.currentColorIsBlue, 'blueContent' : ThemeColor.currentColorIsBlue}">
        </div>
    </div>
</div>