@import '../../styles.scss';

.HeroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    height: 100dvh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-part-left{
    z-index: 3;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    bottom: 0px;
    object-fit: contain;
}

.hero-part-right{
    z-index: 3;
    opacity: 0.6;
    position: absolute;
    right: 0px;
    top: 0px;
    object-fit: contain;
}

.HeroBackground{
    z-index: -10;
    position: absolute;
    max-height: 100dvh;
    top: 0px;
    left: 0px;
    img{
        opacity: 0.3;
        max-width: 1440px;
        object-fit: contain;
        object-position: center;
    }
}


h1{
  user-select: none;
}

h2{
  user-select: none;
margin-bottom: 64px;
}

.HeroWrapper{
  z-index: 99;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.HeroBottomNavbarWrapper{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.IconBar{
  z-index: 99;
  width: 75%;
  ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }  

  li{
    margin: 0px 28px;
  }

  img{
    filter: brightness(0) saturate(100%) invert(12%) sepia(99%) saturate(6818%) hue-rotate(273deg) brightness(93%) contrast(104%);
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;

    &:hover{
        cursor: pointer;
        filter: brightness(100%) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }

}

@media(max-width: 556px){
  .IconBar{
    padding: 16px 0px 16px 0px;
    width: 85%;
    min-height: 44px;
    background-color: rgba(254, 214, 255, 0.6);
    border-radius: 12px;
    backdrop-filter: blur(4px);

    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      display: flex;
    
    }

    li{
      margin: 0px 0px;
    }
  }
}

@media (max-width: 690px){
  .dynamicOpacity {
    opacity: 0.35;
  }
}

@media (max-width: 380px){
  h1{
    font-size: 36px;
    letter-spacing: 0px;
  }

  h2{
    margin-bottom: 32px !important;
  }

  .HeroWrapper { 
    max-height: 60dvh;
  }
}



