@import '../../styles.scss';

.HeroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    height: 100dvh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.heroButton{
  transform: translateY(0px);
  opacity: 0;
}

#start{
  user-select: none;
}

.hero-part-left{
    z-index: 3;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    bottom: 0px;
    object-fit: contain;
}

.hero-part-right{
    z-index: 3;
    opacity: 0.6;
    position: absolute;
    right: 0px;
    top: 0px;
    object-fit: contain;
}

.HeroBackground{
    z-index: -10;
    position: absolute;
    max-height: 100dvh;
    top: 0px;
    left: 0px;
    img{
        opacity: 0.3;
        max-width: 1440px;
        object-fit: contain;
        object-position: center;
    }
}


h1{
  opacity: 0;
  user-select: none;
}

h2{
  opacity: 0;
  user-select: none;
margin-bottom: 64px;
}

.HeroWrapper{
  z-index: 99;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.HeroBottomNavbarWrapper{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.IconBar{
  z-index: 99;
  width: 75%;
  ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }  

  li{
    margin: 0px 28px;
  }

  img{
    filter: brightness(0) saturate(100%) invert(12%) sepia(99%) saturate(6818%) hue-rotate(273deg) brightness(93%) contrast(104%);
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;

    &:hover{
        cursor: pointer;
        filter: brightness(100%) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }

}

@media(max-width: 556px){

  h2{
    margin-bottom: 16px;
  }

  .IconBar{
    padding: 16px 0px 16px 0px;
    width: 85%;
    min-height: 44px;
    background-color: rgba(254, 214, 255, 0.6);
    border-radius: 12px;
    backdrop-filter: blur(4px);

    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      display: flex;
    
    }

    li{
      margin: 0px 0px;
    }
  }
}

@media (max-width: 690px){
}

@media (max-width: 380px){
  h1{
    transform: translateY(0);
    font-size: 36px;
    letter-spacing: 0px;
  }

  .HeroWrapper { 
    margin-top: 36px;
    height:calc(100% - 60px - 22px  - 100px - 106px);
  }
}

@media (max-width: 1250px){
  .dynamicOpacity {
    opacity: 0.35;
  }
}

.thisAnimationHeroOne{
  animation: firstIn 3s ease-in-out forwards;
}

.thisAnimationHeroTwo{
  animation: firstMiddle 3s ease-in-out forwards;
}

.thisAnimationHeroThree{
  animation: firstLast 3s ease-in-out forwards;
}

@keyframes firstIn{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  25%{
    opacity: 1;
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes firstMiddle{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  25%{
    transform: translateY(100px);
    opacity: 0;
  }

  50%{
    opacity: 1;
    transform: translateY(0px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes firstLast{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  50%{
    transform: translateY(100px);
    opacity: 0;
  }

  75%{
    opacity: 1;
    transform: translateY(0px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}




