
<section class="HeroSection" id="start">

    <app-nav-bar></app-nav-bar>
    <div class="shape right"><img src="./assets/img/hero/Shape-right.png"></div>
    <div class="hero-part-left"><img src="./assets/img/hero/hero_background-part-left.png"></div>
    <div class="hero-part-right"><img src="./assets/img/hero/hero_background-part-right.png"></div>
    <div class="bubble top right" [ngClass]="{'filterToPinkRed': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/hero/hero-left-bubble-cyan.png"></div>
    <div class="bubble top left" [ngClass]="{'filterToYellow': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/hero/hero-top-bubble-violet.png"></div>

    <div class="HeroWrapper">
        <h1 [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeColor'">Crafting seamless<br>digital experiences.</h1>
        <h2 [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeDarkText'">A German Frontend Developer<br>
        <span class="TextViolet" [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeColor'">- Marcel Arndt -</span></h2>
        <a class="button colorViolet" [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'backgroundOrange orangeButtonHover'">Lets Talk !</a>
    </div>
    <div class="HeroBottomNavbarWrapper">
        <nav class="IconBar">
            <ul>
                <li><a href="https://github.com/MarcelArndt" target="_blank"><img [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'filterToOrange'" src="./assets/img/github.svg"></a></li>
                <a><li><img [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'filterToOrange'" src="./assets/img/e_mail.svg"></li></a>
                <a><li><img [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'filterToOrange'" src="./assets/img/linkin.svg"></li></a>
            </ul>
        </nav>
    </div>  

</section>