<div class="NavbarWrapper " (click)="closeMenues()" [ngClass]="{'makeItSticky': isScrolled, 'showNavBar': isScrollingUpwards && isScrolled, 'hideNavBar': !isScrollingUpwards && isScrolled,}">
    <div class="backgroundElement">
        <div class="bubble top right hideElement" [ngClass]="{'filterToPinkRed': !ThemeColor.currentColorIsBlue, 'hideElement' : !isScrolled}"><img src="./assets/img/hero/hero-left-bubble-cyan.png"></div>
        <div class="bubble top left hideElement" [ngClass]="{'filterToYellow': !ThemeColor.currentColorIsBlue, 'hideElement' : !isScrolled}"><img src="./assets/img/hero/hero-top-bubble-violet.png"></div>
    </div>
    <div class="Navbar">
        <div class="logo" [ngClass]="{'hidelogo' : isScrolled}"><a href="#start"><img src="./assets/img/logo.svg"></a></div>
        <nav class="MainNavBar">
            <ul class="mainNav">
                <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" class="bigScreen" href="#aboutMe"><li [innerHTML]="currentTexte[0]"></li></a>
                <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" class="bigScreen" href="#skills"><li [innerHTML]="currentTexte[1]"></li></a>
                <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" class="bigScreen" href="#portfolio"><li [innerHTML]="currentTexte[2]"></li></a>
                <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" class="bigScreen" href="#contact"><li [innerHTML]="currentTexte[3]"></li></a>
                <li>
                    <nav class="mobilNav">
                    <div (click)="$event.stopPropagation()"><img (click)="toogleMobilNav()" [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeDarkFilter'" src="./assets/img/mobil-menu.svg"></div>
                    <div class="hideMobilMenu" [ngClass]="{
                        'orangeBefore': !ThemeColor.currentColorIsBlue,
                        'disable': setMobilOff,
                        'enable': !setMobilOff,
                    }">
                        <ul [ngClass]="{
                            'shrinkMobilMenu': hideMobilNavigation,
                            'growMobilMenu': !hideMobilNavigation,
                            'orangeDarkBackground': !ThemeColor.currentColorIsBlue,
                        }">
                            <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" href="#aboutMe"><li [innerHTML]="currentTexte[0]"></li></a>
                            <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" href="#skills"><li [innerHTML]="currentTexte[1]"></li></a>
                            <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" href="#portfolio"><li [innerHTML]="currentTexte[2]"></li></a>
                            <a [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeLink'" href="#contact"><li [innerHTML]="currentTexte[3]"></li></a>
                        </ul>
                    </div>
                </nav>
                </li>
                <li (click)="$event.stopPropagation()" class="colorSwitchButton" (click)="toggleColorNav()"><img [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeDarkFilter'" src="./assets/img/hero/switch-color.svg"><div class="hiddenSwitch" [ngClass]="hideNavigation  ? 'disable' : 'enable'"><div class="shape"  [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeBox-Shadow'"></div><div class="boardwalk" [ngClass]="{
                    'orangeDarkBackground': !ThemeColor.currentColorIsBlue,
                    'animationfadeIn': isColorNavOn,
                    'animationfadeOut': !isColorNavOn
                }">
                    <nav class="colornav" [ngClass]="{
                        'animationshowMenu': isColorNavOn,
                        'animationhideMenu': !isColorNavOn,
                        
                    }">
                    <div (click)="switchToBlueTheme()" class="blue active">
                    </div>
                    <div (click)="switchToOrangeTheme()" class="orange">
                    </div>
                    </nav>
                </div></div></li>
                <a class="last-child"><li class="iconsMenuSize"><img [ngClass]="ThemeColor.currentColorIsBlue ? '' : 'orangeDarkFilter'" [src]="texte.isCurrentLanguageEnglish ? './assets/img/english.svg' : './assets/img/german.svg'" (click)='switchLanguage()'></li></a>
            </ul>
        </nav>
    </div>
</div>