.NavbarWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 99;
    height: 100px;
    top: 24px;
    left: 0;
}


.Navbar{
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: self-end;
    width: 75%;

    .MainNavBar{

        ul{
            font-size: 21px;
           
            display: flex;
            align-items: center;
            list-style: none;

            a{
                text-decoration: none;
                margin: 0px 28px;
                &:hover{
                    cursor: pointer;
                }

            }

            li{
                text-align: center;
                vertical-align: middle;
                font-weight: 400;

                img{
                    margin-top: 8px;
                }
            }

            li:hover{
             color: #7E0EEE;
            }

            img:hover{
                filter: brightness(0) saturate(100%) invert(16%) sepia(81%) saturate(6385%) hue-rotate(271deg) brightness(88%) contrast(114%);
            }
        }

    }
}