<div class="NavbarWrapper">
    <div class="Navbar">
        <div class="logo"><a href="#start"><img src="./assets/img/logo.svg"></a></div>
        <nav class="MainNavBar">
            <ul>
                <a href="#aboutMe"><li>About Me</li></a>
                <a href="#skills"><li>Skills</li></a>
                <a href="#portfolio"><li>Projects</li></a>
                <a href="#contact"><li>Contact</li></a>
                <a><li><img src="./assets/img/hero/switch-color.svg"></li></a>
                <a><li><img src="./assets/img/hero/german-icon.svg"></li></a>
            </ul>
        </nav>
    </div>
</div>