@import '../../styles.scss';


.contact{
    position: relative;
    overflow: hidden;
    padding-bottom: 140px;

    .bottom{
        bottom: -3px;
    }
}

.bubble-bottom{
    bottom: 199px;
    z-index: -1;
}

.contactWrapper{
    width: 75%;
    height: 100%;
}

.contactColumns{
    display: flex;
    justify-content: space-between;    
}

.contentContactwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}


form{

    span{
            display: block;
            color: red;
            font-size: 21px;
            width: 100%;
            height: auto;
            transform: translateY(0px);
            animation: error-fade-in 0.75s, ease-in-out forwards;
            padding-bottom: 8px;
    }
}


@keyframes error-fade-in{
    from{
        opacity: 0;
        transform: translateY(-25px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.contactFormWrapper{
    min-width: 40%;

    form{
        margin-top: 110px;
        display: flex;
        flex-direction: column;
    }

    input{
        z-index: 99;
        padding-left: 16px;
        font-size: clamp(18px, 2vw, 21px);
        margin-bottom: 56px;
        border: 2px solid $violet;
        min-height: 56px;
        border-radius: 12px;
        background-color: transparent;
        outline: none;
        &:focus{
            background-color: transparent;
            outline: none;
        }
    }

    textarea{
        z-index: 99;
        padding-left: 16px;
        padding-top: 16px;
        font-size: clamp(18px, 2vw, 21px);
        margin-bottom: 56px;
        border: 2px solid $violet;
        border-radius: 12px;
        outline: none;
        min-height: 230px;
        background-color: transparent;
    }
}



.contactDescription{
    width: 100%;
    font-weight: 400;
    font-size: clamp(18px, 3vw, 24px);
    display: flex;
    flex-direction: column;
    max-width: 527px;
    h3{
        z-index: 99;
    }

    p{
        z-index: 99;
        margin-top: -16px;
    }
}

.orangeContact{
    h3{
        color: $orange !important;
    }
    p{
        color: #360303 !important;
        span{
            color: #360303 !important;
        }

        .color{
            color: $orange !important;
        }
    }

    input{
        color: #360303 !important; 
        border: 2px solid  $orange !important;
    }

    textarea{
        color: #360303 !important; 
        border: 2px solid  $orange !important;
    }

    .colorViolet{
        background-color: $orange !important;
        color: white;
        border: 3px solid $orange !important;

        &:hover{
            background-color: white !important;
            color: $orange !important;
            border: 3px solid $orange !important;
        }
    }

}

@media (max-width:1914px){
    .contact{
        overflow: hidden;
        padding-bottom: 80px;
    }


    .bubble-bottom{
        bottom: 0px;
        z-index: -1;
    }


}



@media (max-width:1600px){
    .contactDescription{
        padding-right: 16px;
    }
}


@media (max-width: 1200px) {
    .contactWrapper{
        display: flex;
        flex-direction: column;
    }

    .contactDescription{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        max-width: 720px;
    }

    .contactFormWrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 720px;
            margin-top: 56px;
            padding-bottom: 120px;

            input{
                width: 100%;
            }

            textarea{
                width: 100%;
            }

        }

    }

    .contactColumns{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
}

