<div class="contact">
    <div class="bubble bottom right setIndex" [ngClass]="{'filterToPinkRed': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/contact/bubble-bottom-right.png"></div>
    <div class="contentContactwrapper">
        <div class="contactWrapper">
            <div class="contactColumns" [ngClass]="{'orangeContact': !ThemeColor.currentColorIsBlue}">
                <div class="contactDescription" scrollAnimation animationClass="thisAnimationOne">
                    <h3 id="contact">Contact</h3>
                    <p><span class="bold">Got a problem to solve?</span><br>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.
                    <br><br>Need a Frontend developer?<br>
                    <span class="color">Contact me!</span></p>
                </div>
                <div class="contactFormWrapper" scrollAnimation animationClass="thisAnimationopacity">
                    <form (ngSubmit)='onSubmit(ContactForm)' #ContactForm="ngForm">


                        @if (!name.valid && name.touched){
                            <span>Please enter a correct name!</span>
                        }
                        <input #name="ngModel" [(ngModel)]="currentContact.name" name="name" placeholder="Dein Name" id="contactName" required minlength="3">


                        @if (!email.valid && email.touched){
                            <span>Please enter a correct Email address!</span>
                        }
                        <input #email="ngModel" [(ngModel)]="currentContact.email" name="email" placeholder="Deine E-Mail" id="contactMail" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">


                        @if (!message.valid && message.touched){
                            <span>Please enter a Message</span>
                        }
                        <textarea  #message="ngModel" [(ngModel)]="currentContact.text" name="text" placeholder="Deine Nachricht" id="contactText" minlength="3" required></textarea>


                        <button class="button colorViolet">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>