<div class="contact">
    <div class="bubble bottom right" [ngClass]="{'filterToPinkRed': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/contact/bubble-bottom-right.png"></div>
    <div class="contentContactwrapper">
        <div class="contactWrapper">
            <div class="contactColumns" [ngClass]="{'orangeContact': !ThemeColor.currentColorIsBlue}">
                <div class="contactDescription">
                    <h3 id="contact">Contact</h3>
                    <p><span class="bold">Got a problem to solve?</span><br>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.
                    <br><br>Need a Frontend developer?<br>
                    <span class="color">Contact me!</span></p>
                </div>
                <div class="contactFormWrapper">
                    <form>
                        <input placeholder="Dein Name" id="contactName">
                        <input placeholder="Deine E-Mail" id="contactMail">
                        <textarea placeholder="Deine Nachricht" id="contactText"></textarea>
                        <button class="button colorViolet">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>