
<app-success-submit #success></app-success-submit >
<div id="contact" class="contact" tabindex="-1">
    <div class="bubble bottom right setIndex" [ngClass]="{'filterToPinkRed': !ThemeColor.currentColorIsBlue}"><img src="./assets/img/contact/bubble-bottom-right.png"></div>
    <div class="contentContactwrapper">
        <div class="contactWrapper">
            <div class="contactColumns" [ngClass]="{'orangeContact': !ThemeColor.currentColorIsBlue}">
                <div class="contactDescription" scrollAnimation animationClass="thisAnimationOne">
                    <h3 [innerHTML]="currentTexte[0]">Contact</h3>
                    <p class="bold" [innerHTML]="currentTexte[1]">Got a problem to solve?</p>
                    <p [innerHTML]="currentTexte[2]">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
                    <p class="spaceTop" [innerHTML]="currentTexte[3]">Need a Frontend developer?</p>
                    <p class="color spaceTop" [innerHTML]="currentTexte[4]">Contact me!</p>
                </div>
                <div class="contactFormWrapper" scrollAnimation animationClass="thisAnimationopacity">
                    <form (ngSubmit)='onSubmit(ContactForm)' #ContactForm="ngForm">

                        <div class="space">
                        @if (!name.valid && name.touched || !name.valid && submitted){
                            <span>Please enter a correct name!</span>
                        }
                        </div>
                        <input #name="ngModel" [(ngModel)]="currentContact.name" name="name" [placeholder]="currentTexte[5]"  required minlength="3" pattern="[A-Za-z_.-\s]+">

                        <div class="space">
                        @if (!email.valid && email.touched || !email.valid && submitted){
                            <span>Please enter a correct Email address!</span>
                        }
                        </div>
                        <input #email="ngModel" [(ngModel)]="currentContact.email" name="email" [placeholder]="currentTexte[6]"  required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

                        <div class="space">
                        @if (!message.valid && message.touched || !message.valid && submitted){
                            <span>Please enter a Message</span>
                        }
                        </div>
                        <textarea  #message="ngModel" [(ngModel)]="currentContact.text" name="text" [placeholder]="currentTexte[7]"  minlength="3" required></textarea>

                        <div class="space">
                            @if (!checkbox.valid && checkbox.touched || !checkbox.valid && submitted){
                                <span>Please read Data Protection</span>
                            }
                            </div>
                        <div class="checkbox-Box" >
                            <label for="dataProtect" [innerHTML]="currentTexte[9]"></label><br>
                            <div class="checkbox-container">
                                <input class="originCheckbox" #checkbox="ngModel" type="checkbox"  name="dataProtect" required [(ngModel)]="dataProtect">
                                <div class="customCheckBox"></div>
                            </div>

                        </div>
                        <button class="button colorViolet" [innerHTML]="currentTexte[8]" [disabled]="ContactForm.invalid">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>